.loading-spinner {
  animation: rotate 1000ms linear infinite;
  transform-origin: center center;
  width: 1em;
  height: 1em;
  opacity: 0.5;
  display: block;
  pointer-events: none;
}

@keyframes rotate {
  0% {
    transform: rotate(-180deg) translateZ(0);
  }
  100% {
    transform: rotate(180deg) translateZ(0);
  }
}
